<%- include("includes/head.ejs") %>
<body>
    <h2>THis page belong to  <%=data.name%> </h2>
    <button>Follow</button>
    <button> Hey</button>
    
    <p>Followers : <%=data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;
    Following : <%=data.following%></p>

<hr>

<% for (let post of data.posts){%>


<img src="<%=post.image  %>" alt ="some img">

<p>
    Likes : <%=post.likes%> &nbsp;&nbsp;&nbsp;&nbsp; 
    Comments :  <%=post.comments%>
    
</p>
<% }%>
<%- include("includes/footer.ejs") %>
</body>
<script src="/stylw.js"></script>
</html>
 <!-- <ul>
    < for(let name of followers) { %>
        <li> <= name%> </li> //%use removed by me
  < } %>
<ul>  -->